.color.info {
	color: #6cd2ff;
}

.color.caution {
	color: #df1000;
}

.color.red {
	color: #d9456d;
}

.color.blue {
	color: #0095ef;
}

.color.green {
	color: #63e343;
}

.color.cyan {
	color: #62cfff;
}

.color.staff {
	color: #a0ffff;
}
