.color.emphasis {
	color: #ff5050;
}

.color.warning {
	color: #ff7878;
}

.color.legend {
	color: #e6a000;
}

.color.name {
	color: #469beb;
}

.color.action {
	color: #50dc41;
}

.color.item {
	color: #ff6400;
}

.color.intro {
	color: #8c468c;
}

.color.rupee-green {
	color: #1eb91e;
}

.color.rupee-blue {
	color: #009ba5;
}

.color.rupee-red {
	color: #f50a32;
}

.color.rupee-silver {
	color: #919ba0;
}

.color.rupee-gold {
	color: #efef00;
}

.color.rupee-baba {
	color: #5f9669;
}
