td:is([lang|='ja'], [lang|='ko'], [lang|='zh']) {
	text-align: center;
}

td:is([lang|='ja'], [lang|='ko'], [lang|='zh']) ul {
	place-items: center;
}

.numeric-placeholder {
	user-select: none;
}

.capitalize {
	text-transform: uppercase;
}
