.emoji {
	display: inline-block;
	height: 1em;
	width: calc(var(--width) / var(--height) * 1em);
	background-size: contain;
	transform: translateY(0.125em);
	filter: drop-shadow(0.02em 0.02em 0.04em hsl(0 0% 0%));
}
